<%= form_for(@nonprofit_organization) do |f| %>
  <% if @nonprofit_organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nonprofit_organization.errors.count, "error") %> prohibited this nonprofit_organization from being saved:</h2>

      <ul>
      <% @nonprofit_organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
