<div id='wrapper'>
  <header class='navbar navbar-default navbar-fixed-top'>
    <nav id='top-nav'>
      <ul>
        <li>My Profile</li>
        <li>Connect</li>
        <li>Recommendations</li>
      </ul>
    </nav>
  </header>
  <div class='container'>
    <% yield %>
  </div>
</div>